.container-about{
    .about-page{
        background-color: rgb(227, 227, 227);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 30rem;

        .about-top-section{
            width: 90rem;
            margin-left: 10%;
            font-weight: 700;
            line-height: 6rem;
            z-index: 11;
            padding: 0 0 4rem;


            .made-social{
                color: @light-blue;
                position: relative;
                left: 5rem;            
            }
            p {
                margin-top: 1rem;
                font-size: 2rem;
                font-weight: 20;
            }
            
        }

    }

    .about-content-section{
        display: flex;
        // height: 100rem;
        // border: .5rem solid red;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 3rem 0 0;
        .person{
            padding: 3rem 0;
            h2{
                font-size: 3.5rem;
            }
            h3{
                font-size: 2.3rem;
            }
            p{
                padding: 1.6rem 0 0;
            }
            display: flex;
            .person-text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 3rem;
            }
            img {
                height: 35rem;
                padding: 0 0 0 9rem;

            }
        }
    
    }
    
}